<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Inclure vos liens vers les fichiers CSS ici si nécessaire -->
</head>
<body>
    <header>
        <!-- Votre en-tête ici si nécessaire -->
        <h1>Remindr</h1>
    </header>
    
    <main>
        {{{body}}} <!-- Ceci sera remplacé par le contenu spécifique de chaque vue -->
    </main>

    <footer>
        <!-- Votre pied de page ici si nécessaire -->
    </footer>
</body>
</html>
