<h1>Bienvenu {{user}}</h1>
    <button id="openModalBtn">Créer un groupe</button>

    <div id="ModalCreateGroup" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <input type="text" id="textInput" placeholder="Entrez le nom du groupe">
            <button id="confirmBtn">Créer</button>
        </div>
    </div>

<script src="/js/dashboard.js"></script>