<!-- views/home.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Bienvenue sur la page d'accueil</h1>
  
  <button onclick="window.location.href='/login'">Login</button>
  <button onclick="window.location.href='/register'">Register</button>
  
  <br>

  <!-- Ajoutez ce lien pour l'authentification GitHub -->
  <a href="/auth/github">Connexion avec GitHub</a>
</body>
</html>
